@keyframes slide-right {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes move {
  0% {
    top: 50%;
    left: 0;
  }
  25% {
    top: 0;
    left: 50%;
  }
  50% {
    top: 50%;
    left: 100%;
  }
  75% {
    top: 100%;
    left: 50%;
  }
  100% {
    top: 50%;
    left: 0;
  }
}

@keyframes move-around {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 0;
    left: calc(100vw - 50px);
  }
  50% {
    top: calc(100vh - 50px);
    left: calc(100vw - 50px);
  }
  75% {
    top: calc(100vh - 50px);
    left: 0;
  }
  100% {
    top: 0;
    left: 0;
  }
}

@keyframes neon-glow {
  from {
    box-shadow: 0 0 20px $color-primary, 0 0 30px $color-primary,
      0 0 40px $color-primary, 0 0 70px $color-primary, 0 0 80px $color-primary,
      0 0 100px $color-primary, inset 0 0 40px $color-primary;
  }
  to {
    box-shadow: 0 0 30px $color-primary, 0 0 40px $color-primary,
      0 0 50px $color-primary, 0 0 80px $color-primary, 0 0 90px $color-primary,
      0 0 110px $color-primary, inset 0 0 50px $color-primary;
  }
}

//////////////
/// Gradient animation

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}
