//@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Salsa&display=swap");

body {
  font-family: $font-sans-serif;
  font-size: $fontSize-default;
  font-weight: 500;
  line-height: 1.6;
  font-style: normal;
  color: $color-light;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style-type: none;
}

.color-dark {
  color: $color-dark;
}

.heading-1 {
  @extend .color-dark;

  font-size: Max(4vw, 2rem);
  font-family: $font-salsa;

  &--header {
    display: flex;
    flex-direction: column;

    &--star {
      display: flex;
      gap: 4rem;

      @include respond(breakp-500) {
        gap: 2rem;
      }

      & > * {
        width: 2.5rem;
        height: 2.5rem;
        display: block;
        fill: $color-dark;

        @include respond(breakp-500) {
          width: 2rem;
          height: 2rem;
        }
      }
    }

    & span:nth-child(2) {
      font-size: 7vw;
      margin-top: -1vw;

      @include respond(bp-1100) {
        font-size: Max(8.8vw, 3.5rem);
      }
    }

    & span:nth-child(3) {
      font-size: 7vw;
      margin-top: -3vw; // 5

      font-weight: 500;
      color: transparent;
      -webkit-text-stroke: 1px $color-dark;
      text-stroke: 1px $color-dark;

      @include respond(bp-1100) {
        font-size: Max(8.8vw, 3.5rem);
        margin-top: -3vw;
      }

      & > span {
        font-size: 5vw;
        color: $color-dark;

        @include respond(smallPhone) {
          font-size: 3rem;
        }
      }
    }
  }
}

.heading-2 {
  @extend .color-dark;

  font-size: Max(3vw, 3.5rem);
  font-family: $font-salsa;

  &--big {
    font-size: Max(3.5vw, 3.5rem);
  }

  &--small {
    font-size: 3.5rem;
  }
}

.heading-3 {
  @extend .color-dark;
  font-size: 2rem;

  &--services {
    font-size: Max(2vw, 2rem);
    line-height: 1.4;
    transition: $transition-1;

    width: 40rem;

    @include respond(tab-landscape) {
      width: 30rem;
    }
  }

  &--stacks {
    font-size: 2.5rem;
    font-family: $font-salsa;
  }

  &--light {
    color: $background-color;
  }

  &--left {
    text-align: left;
  }

  &--experience {
    font-size: 2.5rem;
    color: $color-secondary;
  }

  &--education {
    font-size: 2.5rem;
    color: $color-secondary;
  }
}

.heading-4 {
  @extend .color-dark;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;

  &--light {
    color: $background-color;
  }
}

.paragraph {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  @extend .color-dark;
  letter-spacing: 0.1rem;

  &--smallest {
    font-size: 1.1rem;
    font-weight: 700;
  }

  &--many {
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }
}

.link {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;

  font: inherit;
  @extend .color-dark;
  letter-spacing: 0.1rem;

  &__span {
    margin-left: 0.5rem;
    border-bottom: 1px solid transparent;

    &:hover {
      color: $color-secondary;
      border-bottom: 1px solid $color-secondary;
    }
  }

  &--projDetails {
    border-bottom: 1px solid transparent;

    &:hover {
      color: $color-secondary;
      border-bottom: 1px solid $color-secondary;
    }
  }
}

/*
 font-weight: 500;
      color: transparent; 
      -webkit-text-stroke: 1px $color-dark; 
      text-stroke: 1px $color-dark;
      
      
      
      */
