.u-center-text {
  text-align: center !important;
}

///////////////////////////////////
// MARGIN BOTTOM
.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-small-2 {
  margin-bottom: 2.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;

  @include respond(tab-por) {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;

  @include respond(tab-por) {
    margin-bottom: 5rem !important;
  }
}

.u-margin-bottom-huge {
  margin-bottom: 10rem !important;
}
///////////////////////////////////
// MARGIN TOP
.u-margin-top-small {
  margin-top: 1.5rem !important;
}

.u-margin-top-small-2 {
  margin-top: 2.5rem !important;
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

///////////////////////////////////

.blur {
  background-image: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2)
  );
  -webkit-backdrop-filter: blur(2.1rem); // 2.1rem
  backdrop-filter: blur(2.1rem);
}

//////////////////////////

.balls {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &__ball {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    position: absolute;

    filter: blur(5px);
    background-color: $color-primary;
    box-shadow: 0 0 30px $color-primary, 0 0 40px $color-primary,
      0 0 70px $color-primary, 0 0 80px $color-primary, 0 0 100px $color-primary,
      inset 0 0 40px $color-primary;

    &--move {
      animation: move 15s linear infinite alternate,
        neon-glow 1.5s ease-in-out infinite alternate;
    }

    &--move-around {
      animation: move-around 15s linear infinite alternate,
        neon-glow 1.5s ease-in-out infinite alternate;
    }
  }
}
