///////////////////////////
// C O L O R
$color-primary: #00ebaf;
$color-secondary: #377ed3;
$background-color: #f0f3f7;
$color-light: #dededee6;
$color-dark: #121212de;

$color-hover: rgba(255, 255, 255, 0.3);
$box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);

///////////////////////////
// T E X T  S T Y L E
$font-salsa: "Salsa", cursive;
//$font-bad-script: "Bad Script", cursive;
$font-sans-serif: "Montserrat", sans-serif;
$fontSize-default: 1.6rem;
