.me {
  ///////////////////////

  &__item {
    margin-left: 2rem;
    display: flex;
    align-items: flex-start;
    padding: 0;
  }

  &__ball {
    margin-right: 2rem;
    margin-top: 0.85rem;

    background-color: $color-secondary;

    width: 1.6rem;
    height: 1.6rem;
    display: block;
    border-radius: 50%;
  }

  &__contact {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: 2rem;

    & svg {
      color: $color-dark;
      width: 2rem;
      height: 2rem;
    }
  }
}
