.projects {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
  grid-auto-rows: 40rem;
  grid-auto-flow: dense;
  align-items: flex-start;
  justify-content: center;
  gap: 3rem;

  &__item {
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
    cursor: pointer;
    overflow: hidden;
    position: relative;
  }

  &__background {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    //  rgba(0, 0, 0, 1)
    background-image: linear-gradient(
      to bottom,
      transparent 10%,
      rgba(18, 18, 18, 0.6) 60%,
      rgba(18, 18, 18, 1) 100%
    );

    display: flex;
    align-items: flex-end;
    padding: 3rem;

    transition: $transition-1;
    opacity: 0;

    @include respond(tab-portrait) {
      opacity: 1;
    }
  }

  &__item:hover &__background,
  &__item:active &__background {
    opacity: 1;
  }
}
