.stacks-icon {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  //justify-content: center;
  gap: 1.5rem;

  &__icon {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    display: block;
  }
}

.stacks-box {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;

  &__stack {
    padding: 0.2rem 1rem;
    border-radius: 1rem;
    background-color: $color-light;

    &--dif-color {
      color: $background-color;
      background-color: $color-primary;
    }
  }
}
