#root {
  width: 100%;
  height: 100%;
}

.AppLayout {
  width: 100%;
  height: 100vh;

  position: relative;

  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;

  overflow: hidden;

  @include respond(tab-portrait) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
}

.pattern-vertical-lines-lg {
  background-image: repeating-linear-gradient(
    to right,
    currentColor,
    currentColor 1px,
    transparent 1px,
    transparent
  );

  background-size: 50px 50px;
}

.container {
  width: 100%;
  max-height: 100vh;

  position: relative;
  z-index: 5;

  ///////////////////////

  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-primary;
    border-radius: 20px;
  }

  ///////////////////////
}
