.header {
  padding: 3rem;

  width: 90%;
  margin: 0 auto;
  height: 100vh;
  background-color: pink;

  display: flex;
  flex-direction: column;
  justify-content: center;

  &__paragraph {
    width: 80%; // 75
    text-align: right;
    margin-left: auto;
    margin-top: auto;

    @include respond(breakp-500) {
      width: 95%;
    }
  }
}
